.tab-bar {
  background-color: var(--white);
  border-top: 1px solid var(--color-border);

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
}
