
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #FEFFE7 12.02%, #CCE1FF 90.87%);
  min-height: 100vh;
  padding: 24px 32px;

  &__title{
    font-size: 32px;
    text-align: center;
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__forgot {
    margin-top: -8px;
    text-align: center;
    color: #7D7D7D;
  }

  &__register {
    text-align: center;
  }
}