.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-gradient-blue);
  min-height: 100vh;
  padding: 24px 32px;

  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__forgot {
    margin-top: -8px;
    text-align: center;
    color: var(--color-text-muted);
  }

  &__error {
    color: var(--color-error);
  }

  &__register {
    text-align: center;
  }
}
