.stepper {
  display: flex;
  justify-content: center;
  gap: var(--gap-items);

  &__dot {
    width: var(--size-8);
    height: var(--size-8);
    border-radius: 50%;
    background: rgba(26, 26, 26, 0.25);

    &--active {
      background: var(--color-text-primary);
    }
  }
}
