.group-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fde6ff;
  min-height: 100vh;
  padding: 24px 32px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: auto 0;
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    color: #4c4c4c;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

}
