.app {
  min-height: 100vh;
  max-width: 490px;
  margin: 0 auto;
  overflow-x: hidden;
  overscroll-behavior-x: none;

  &__main > *:not(.main-layout) {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
