@font-face {
  font-family: "Bricolage Fallback";
  src: local("Arial");
  size-adjust: 104%;
  ascent-override: 88%;
  descent-override: 22%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "General Sans Fallback";
  src: local("Arial");
  size-adjust: 100%;
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
}

body {
  font-family: 'General Sans', "General Sans Fallback", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
}

h1 {
  font-family: 'Bricolage Grotesque', "Bricolage Fallback", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 1;
}

.h1--large {
  font-size: 40px;
  line-height: 42px;
}

h2 {
  font-family: 'Bricolage Grotesque', "Bricolage Fallback", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
}

h3 {
  font-family: 'Bricolage Grotesque', "Bricolage Fallback", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

small {
  font-size: 16px;
}

a {
  color: #3772ff;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
}
