.events-list-page {
  padding: 24px 32px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    font-size: var(--font-size-h1);
    font-weight: 800;
    color: var(--color-text-primary);
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: var(--font-size-body-m);
    color: var(--color-error);
    padding: 40px 0;
  }
}
