.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-section);
  background: var(--color-bg-blue);
  height: 100vh;
  overflow: hidden;
  padding: var(--padding-page);

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: var(--size-16);
  }

  &__description {
    color: var(--color-text-secondary);
  }

  &__img {
    width: 100%;

    img {
      max-height: 52vh;
      width: 100%;
      object-fit: contain;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-compact);
  }
}
