.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-section);
  background: var(--color-bg-blue);
  min-height: 100vh;
  padding: var(--padding-page);

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: var(--size-16);
  }

  &__description {
    color: var(--color-text-secondary);
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-form);
  }
}
