.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-content);
  background: var(--color-bg-blue);
  height: 100vh;
  overflow: hidden;
  padding: var(--size-40) var(--size-32);

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: var(--size-16);
  }

  &__description {
    color: var(--color-text-secondary);
  }

  &__img {
    flex: 1;
    min-height: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-compact);
  }
}
