.register-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #feffe7 12.02%, #cce1ff 90.87%);
  min-height: 100vh;
  padding: 24px 32px;


  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__password-requirements {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &_item {
      display: flex;
      gap: 4px;
    }
  }

  &__terms {
    input {
      margin-right: 4px;
    }

    a {
      display: inline;
    }
  }

  &__login {
    text-align: center;
  }
}
