.error-boundary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--padding-page);
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-content);
  }

  &__title {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    color: var(--color-brand);
    line-height: 1.2;
  }

  &__subtitle {
    font-size: var(--font-size-body-s);
    color: var(--color-text-muted);
  }
}
