.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field__input {
  padding: 12px 14px;
  border: 1px solid #7d7d7d ;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;

  &:focus {
    border-color: #0068ff;
  }
}

.field__error {
  font-size: 1rem;
  color: #ff1c4e;
}

.field__counter {
  color: #7d7d7d;
  text-align: right;
}

.field__required {                                                                          
    color: #0068ff;
  } 
