
.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #feffe7 0%, #ffd2dc 100%);
  min-height: 100vh;
  padding: 24px 32px;


  &__title {
    text-align: center;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    color: #7d7d7d;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
  }

  &__error {
    color: #ff1c4e;
  }

  &__login {
    text-align: center;
  }
}
