.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-gradient-red);
  min-height: 100vh;
  padding: 24px 32px;

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    color: var(--color-text-secondary);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    color: var(--color-error);
  }

  &__login {
    text-align: center;
  }
}
