.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #feffe7 0%, #ffd2dc 100%);
  min-height: 100vh;
  padding: 24px 32px;

  &__header {
    text-align: center;

    .forgot-password-page__title {
      margin-bottom: 16px;
    }

    .forgot-password-page__description {
      color: #4c4c4c;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    color: #ff1c4e;
  }

  &__login {
    text-align: center;
  }
}
