.language-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fffffd;
  min-height: 100vh;
  padding: 24px 32px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    color: #4c4c4c;
  }

}